main{
    display: flex;
    align-items: flex-start;
    margin-top: 100px;
    font-size: 1.5rem;
        .hangman{
        svg{
            line, circle{
                stroke: $primaryText-color;
                stroke-width:8;
                stroke-linecap: round;
                fill: $bg-color; 
                
            }
        }
    }
    .wrong{
        // border: 2px solid red;
        padding-top: 10px;
    }
}
